# haproxy.cfg
defaults
    mode tcp
    # timeout values should be adjusted based on your application's needs
    timeout connect 5s
    timeout client 30m
    timeout server 30m

frontend pg_frontend
    bind *:5432
    default_backend pg_master_backend

backend pg_master_backend
    mode tcp
    option tcp-check
    # The names here must match the container_name
    server master postgres-master:5432 check inter 5s fall 3 rise 2
    server slave  postgres-slave:5432  check inter 5s fall 3 rise 2 backup
