services:
  otel-lgtm:
    image: grafana/otel-lgtm:latest
    ports:
      - "3000:3000"     # Grafana UI
      - "4317:4317"     # OTLP gRPC receiver
      - "4318:4318"     # OTLP HTTP receiver
    volumes:
      - otel-lgtm-data:/data
    restart: unless-stopped
    networks:
      - shared_net

volumes:
  otel-lgtm-data:


networks:
  shared_net:
    external: true
    name: shared_network
